@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* .warning{
  background-color: rgb(250, 215, 215);
} */
.manager-button{
  background-color: #333 !important;
  color: #ffffff;
}

.manager-button:hover{
  background-color: #000000 !important;
}

button {
  margin: 5px;
}

Button {
  background-color: #fdcc9d;
  border-width: 0;
}

Button:hover,
button:hover,
a:hover {
  background-color: #f2b881;
}

/* models */

.models-header.p-panel-header {
  display: flex;
  justify-content: center;
}

.model-icons {
  right: 0px;
  display: flexbox;
  justify-content: center;
  justify-self: left;
}

.manager-model-options {
  position: relative;
  left: 0px;
}

.p-panel {
  border-radius: 0px;
}

.models-page {
  padding: 20px;
  background-color: #e1ddd5;
}

.models-panel {
  background-color: #fff7e6;
  border: none;
  border-radius: 0px;
}

.event-info,
.warning {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fdcc9d;
  border-radius: 5px;
}

.no-background {
  background-color: transparent;
  text-decoration: underline;
}

.model_item {
  cursor: pointer;
  background-color: #d4bfcc;
  border: 1px solid #d4bfcc;
  margin: 10px;
  /* padding: 10px; */
  border-radius: 5px;
  text-align: center;
  transition: transform 0.2s;
  width: 420px;
}

.model_item:hover {
  transform: scale(1.05);
}

.pi-star,.pi-star-fill{
  font-size: 1.5em;
}


/* gowns */
.success-message {
  background-color: green;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e1ddd5;
}

.gown-favorite {
  margin-left: 10px;
  margin-right: -10px;
  align-self: flex-start;
}

.gown-container {
  display: flex;
  align-items: center;
  background-color: #e1ddd5;
  border: 1px solid #d4bfcc;
  padding: 20px;
  margin: 20px 0;
}

.gown-image {
  max-width: 200px;
  margin-right: 20px;
}

.gown-details {
  flex: 2;
  background-color: #f9f9f9;
  /* padding: 0px 20px 20px; */
  border-radius: 5px;
}

.size-buttons {
  margin: 20px 0;
}

.warning {
  color: #d9534f;
  font-weight: bold;
}

.p-button-outlined.p-button-secondary {
  background-color: #fdcc9d;
  border-color: #fdcc9d;
  color: #fff;
}

/* .p-button-outlined.p-button-secondary:hover {
  background-color: #e1ddd5;
  border-color: #e1ddd5;
  color: #fff;
} */



/* calendar */
.date-message {
  background-color: #e1ddd5;
  color: #d4bfcc;
  border-color: #d4bfcc;
  /* margin-bottom: 10px; */
  margin-top: 5px;
}

.clear-date-button {
  margin-bottom: 20px;
  color: #ffffff;
}

.calendar-container {
  display: flex;
  /* height: 200px; */
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #f9f9f9;
}

.calendar-card {
  background-color: #fff;
  border: 1px solid #d4bfcc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* home */

.header {
  z-index: 5;
  position: sticky;
  height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d4bfcc;
}

.logo {
  height: 100px;
}

.home_navigate {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: none;
}

.cart_link:hover {
  background: none;
  opacity: 60%;
}

.cart-amount {
  font-weight: bold;
  color: #e1ddd5;
  text-decoration: none;
}

.user-name {
  font-weight: bold;
  color: #e1ddd5;
}

.logout-button,
.nav-button {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

.nav-button {
  display: inline-block;
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }
}


/* add model */
.add-model-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-model-form label {
  font-weight: bold;
  color: #d4bfcc;
}

.add-model-form .p-inputtext,
.p-dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.add-model-form .p-button {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* .add-model-form .p-button:hover {
  background-color: #e1ddd5;
  color: #d4bfcc;
} */

.p-dialog .p-dialog-content {
  background-color: #e1ddd5;
}

.p-dialog .p-dialog-header {
  background-color: #fdcc9d;
  color: #fff;
}

.p-dialog .p-dialog-header .p-dialog-title {
  color: #fff;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #fff;
}



/* signup */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e1ddd5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-form .field {
  margin-bottom: 10px;
}

.signup-form .p-float-label label {
  color: #d4bfcc;
}

.signup-form .p-inputtext,
.p-password {
  width: 100%;
}

.signup-form .p-button {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* .signup-form .p-button:hover {
  background-color: #e1ddd5;
  color: #d4bfcc;
} */

.signup-message {
  margin-bottom: 10px;
}

.signup-message .p-message {
  background-color: #fdcc9d;
  color: #fff;
}

.navigate-link {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* .navigate-link:hover {
  background-color: #e1ddd5;
  color: #d4bfcc;
} */




/* login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e1ddd5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form .field {
  margin-bottom: 10px;
}

.login-form .p-float-label label {
  color: #d4bfcc;
}

.login-form .p-inputtext,
.p-password {
  width: 100%;
}

.login-form .p-button {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* .login-form .p-button:hover {
  background-color: #e1ddd5;
  color: #d4bfcc;
} */

.login-message {
  margin-bottom: 10px;
}

.login-message .p-message {
  background-color: #fdcc9d;
  color: #fff;
}

.navigate-link {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* .navigate-link:hover {
  background-color: #e1ddd5;
  color: #d4bfcc;
} */





/* AddGown */

.add-gown-dialog,
.add-size-form {
  background-color: #e1ddd5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* .add-gown-form .field,
.add-size-form .field {
  margin-bottom: 20px;
} */

.add-gown-form .p-float-label label,
.add-size-form .p-float-label label {
  color: #d4bfcc;
}

.add-gown-form .p-dropdown,
.add-gown-form .p-inputnumber {
  width: 100%;
}

.add-gown-form .p-button,
.add-size-form .p-button {
  background-color: #fdcc9d;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* .add-gown-form .p-button:hover, .add-size-form .p-button:hover {
  background-color: #e1ddd5;
  color: #d4bfcc;
} */




/* Cart */
.cart-container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.cart-item {
  /* display: flex;
  justify-content: center; */
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.gown-image {
  width: 100%;
  cursor: pointer;
}

.gown-model {
  font-size: 18px;
  font-weight: bold;
}

.gown-info {
  display: block;
  margin-top: 5px;
  color: #555;
}

.login-link {
  color: #007bff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}



/* About */

.about-container {
  padding: 20px;
  border: 20px solid #e1ddd5;
}

.contact-section,
.regulations-section {
  margin-bottom: 20px;
}

h2,
h4 {
  color: #ac9aa5;
}

h4 {
  margin: 5px 0px;
}

iframe {
  margin-top: 20px;
}






/* UpdateGown */


/* UpdateGown Component Styling */

.update-gown-dialog {
  width: 400px;
  padding: 20px;
  background-color: #e1ddd5;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.update-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
}

.size-select,
.amount-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #d4bfcc;
  border-radius: 4px;
  background-color: #fff;
}

.add-size-btn,
.add-size-submit-btn {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fdcc9d;
  color: #333;
  cursor: pointer;
}

.add-size-btn:hover,
.add-size-submit-btn:hover {
  background-color: #ffb74d;
}

.add-size-dialog {
  width: 300px;
  padding: 20px;
  background-color: #e1ddd5;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.add-size-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #d4bfcc;
  border-radius: 4px;
  background-color: #fff;
}

/* manager */
/* .view-order {
  display: flex;
  justify-content: space-evenly;
} */


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #fdcc9d;
}

th {
  background-color: #d4bfcc;
  color: white;
}




/* order */
.order-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.agreement-checkbox {
  margin-top: 20px;
}

.agreement-checkbox label {
  font-size: 16px;
}

.agreement-checkbox a {
  color: #007bff;
  text-decoration: underline;
}

.paypal-buttons {
  z-index: 0;
  /* !important */
}