#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  background-color: rgb(224, 214, 239);
  padding: 15px;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  /* justify-content: space-between; */
  margin: 80px 0px;
}

.models_container {
  /* background-color: rgb(241, 229, 252); */
  /* width: 100%; */
  display: grid;
  grid-gap: 60px;
  /* grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto; */
  grid-template-columns: 350px 350px 350px ;
  /* grid-template-rows: 500px 500px; */
  justify-content: center;
  /* align-items:center; */
  margin: 100px;
}

.model_item{
  background-color:rgb(241, 229, 252);
  /* background-color:rgb(107, 0, 206); */
  padding: 10;
  border-radius: 20px;
}

/* .number_without, input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

 /* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, .number_without{
  -webkit-appearance: none;
  margin: 0;
}

#amount, input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: default-button;
} */
